<?php
/**
 * Zeraga_Newsletter
 *
 * @category    Zeraga
 * @package     Zeraga_Newsletter
 * @copyright   Copyright (c) 2014 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/** @var $this Zeraga_Newsletter_Block_Coupon */
?>
<?php if ($this->canShow()): ?>
    <p><h2><?php echo $this->getHeading(); ?></h2></p>

    <!-- Begin Coupon Content -->
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('newsletter_coupon_content')->toHtml(); ?>
    <div>
        <p>Coupon: <?php  echo $this->getCoupon(); ?></p>
    </div>
    <!-- End Coupon Content -->
<?php endif; ?>
