<?php
/**
 * Zeraga_Newsletter
 *
 * @category    Zeraga
 * @package     Zeraga_Newsletter
 * @copyright   Copyright (c) 2014 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/** @var $this Zeraga_Newsletter_Block_Newproduct */
?>
<?php
$appEmulation = Mage::getSingleton('core/app_emulation');
$storeId = $this->getStoreId();
$initialEnvironmentInfo = $appEmulation->startEnvironmentEmulation($storeId == 0 ? 1 : $storeId);
$layout = Mage::getModel('core/layout');
$layout
    ->getUpdate()
    ->addHandle('catalog_category_default')
    ->load();
$layout->generateXml()
    ->generateBlocks();
?>
<?php if ($this->canShow()): ?>
    <?php $block = $layout->getBlock('product_list'); ?>
    <?php $collection = $this->getCollection(); ?>
    <p><h2><?php echo $this->getHeading(); ?></h2></p>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('newsletter_newproduct_content')->toHtml(); ?>
    <?php $i = 0; ?>
    <table>
        <?php foreach($collection as $_product): ?>
            <?php if ($i == 0): ?> <tr> <?php endif; ?>
            <td style="width: 200px" >
                <div><a href="<?php echo $_product->getProductUrl() ?>" title="" class="product-image"><img src="<?php echo Mage::getModel('catalog/product_media_config')->getMediaUrl( $_product->getImage() ); ?>" width="135" height="135" /></a></div>
                <p><a href="<?php echo $_product->getProductUrl() ?>" title="" class="product-image"><h3><?php echo $_product->getName(); ?></h3></a></p>

                <!-- Price display -->
                <?php echo $block->getPriceHtml($_product, true) ?>

            </td>
            <?php if ($i == 2): ?> </tr> <?php $i = 0; ?> <?php else: ?> <?php $i++; ?>  <?php endif; ?>
        <?php endforeach; ?>
    </table>
<?php endif; ?>
<?php $appEmulation->stopEnvironmentEmulation($initialEnvironmentInfo); ?>