<?php
/**
 * Zeraga_Newsletter
 *
 * @category    Zeraga
 * @package     Zeraga_Newsletter
 * @copyright   Copyright (c) 2014 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/** @var $this Zeraga_Newsletter_Block_Adminhtml_System_Config_Testemail_Button */
?>
<?php echo $this->getButtonHtml(); ?>
<script type="text/javascript" >
    var sendTestBtn = $('testemail_button');
    sendTestBtn.observe('click',function(){
        $(this).addClassName('disabled');
        $(this).update('<span><span><span><?php echo $this->helper('zeraga_newsletter')->__('Sending') ?></span></span></span>');

        new Ajax.Request('<?php echo $this->getUrl('adminhtml/newsletter_email/send') ?>', {
            parameters:
            {
                name: $('zeraga_newsletter_testemail_name').value,
                email: $('zeraga_newsletter_testemail_email').value,
                email_method: $('zeraga_newsletter_mail_method').value,
                host: $('zeraga_newsletter_mail_stmp_server_address').value,
                ssl: $('zeraga_newsletter_mail_security').value,
                port: $('zeraga_newsletter_mail_port').value,
                username: $('zeraga_newsletter_mail_username').value,
                password: $('zeraga_newsletter_mail_password').value
            },
            onSuccess: function(response) {
                var result = JSON.parse(response.responseText);
                if(result.error) {
                    alert(result.message);
                } else {
                    alert('Sent successful');
                }
                sendTestBtn.removeClassName('disabled');
                sendTestBtn.update('<span><span><span><?php echo $this->helper('zeraga_newsletter')->__('Send Test Email') ?></span></span></span>');
            }
        });
    });
</script>