<!--@subject {{var general.subject}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <!-- [ header starts here] -->
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <!-- Begin General -->
                            {{block type="core/template" area='frontend' template="zeraga/newsletter/general.phtml" }}
                            <!-- End General -->

                            <!-- Begin Coupon Content -->
                            {{block type="zeraga_newsletter/coupon" area='frontend' template="zeraga/newsletter/coupon.phtml" }}
                            <!-- End Coupon Content -->

                            <br /><br /><br />
                            <!-- Begin bestseller Content -->
                            {{block type="zeraga_newsletter/bestseller" area='frontend' template="zeraga/newsletter/bestseller.phtml" }}
                            <!-- End bestseller Content -->
                            <br /><br /><br />
                            <!-- Begin featured product Content -->
                            {{block type="zeraga_newsletter/featuredproduct" area='frontend' template="zeraga/newsletter/featuredproduct.phtml" }}
                            <!-- End featured product Content -->
                            <br /><br /><br />
                            <!-- Begin new product Content -->
                            {{block type="zeraga_newsletter/newproduct" area='frontend' template="zeraga/newsletter/newproduct.phtml" }}
                            <!-- End new product Content -->
                            <br /><br /><br /><br />
                            Follow this link to unsubscribe
                            <!-- Begin unsubcribe link Content -->
                            {{block type="core/template" area='frontend' template="zeraga/newsletter/unsubscribe.phtml" }}
                            <!-- End unsubcribe link Content -->

                        </td>
                    </tr>
    </table>
</div>
</body>

